.initContainer{
    background-color: var(--clr1);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}



.langContainer{
    display: flex;
    justify-content:flex-end;
    margin-right: 50px;
    top: 0;
    width: 100vw;
    position: absolute;
}


.initContainer h1{
    font-size: 6em;
    letter-spacing: 15px;
    margin-bottom: 15px;
}

.initContainer p{
    font-size: 1.6em;
    letter-spacing: 6px;
    width: 50vw;
    line-height: 1.35em;
}

li{
    list-style-type: none;
    margin: 15px 0;
}




